@charset 'UTF-8';

html,
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}	

/* GLOBAL STYLES */
body {
  background: #ff4d00;
  color: #008000;
  font-family: monospace;
  padding-top: 5em;
  display: flex;
  justify-content: left;
}

.background {
	background: #000000;
}
.background a {
	 color: #E5E4E3;
}

.artwork {
	background: rgba(0,0,0,0.5);
}

.arttitle {
	text-align: left;
	font: arial;
	color: #FFFFFF;
	font-size: 2em;
}


.artdate{
	text-align: left;
	font: arial;
	color: #FFFFFF;
	font-size: 1em;
}

.artimg {
	padding-top: 2em;
	padding-right: 1.5em;
}

.artcomment {
   text-align: left;
	font: arial;
	color: #FFFFFF;
	font-size: 1em;
}

.block-quote {
	padding-left: 1em;
}
