@charset 'UTF-8';

html,
html * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}	

/* GLOBAL STYLES */
body {
  background: #ff4d00;
  color: #008000;
  font-family: monospace;
  padding-top: 5em;
  display: flex;
  justify-content: left;
}

